{% extends "base.html" %}

{% block content %}
<h4>Hello, {{ username }}!</h4>
{% if user.is_authenticated %}
     <h4> <a href="{% url 'my-logout' %}">Wyloguj</a></h4>
{% endif %}

<div class="row">
    <div class="col-sm-4">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj post</button>
    </form>
    </div>
    <div class="col-sm-8">
       <title>Wall</title>
       <h1>Wall Post</h1>
            <ul class="no-bullet">
                {% for post in posts %}
                <div class="ram">
                <li><img src="{{ post.author.image.url }}" class="rounded-circle" width="40" height="40" alt="{{ post.author.username }}'s profile picture"> {{ post.author.username }} - {{ post.created_at }}:</li>
                    <p>{{ post.content }}</p>
                    
                    {% if post.author.username == username %}
                    <form method="post" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Usuń swój post">
                </form></div><br>
                {% endif %}
                {% endfor %}
                </ul>

    </div>
  </div>



{% endblock %}