body { 
    background-image: url("../static/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;  
  }

  .profile-image {
    max-width: 100px; 
    max-height: 100px; 
}

.ram {
  border: 2px solid #000; /* Grubość i kolor ramki */
  padding: 10px; /* Wewnętrzny odstęp od tekstu */
  width: 300px; /* Szerokość ramki */
}
.no-bullet {
  list-style-type: none;
}